##导入宏定义
$!{define.vm}

##保存文件（宏定义）
#save("/domain/entity", ".java")

##包路径（宏定义）
#setPackageSuffix("domain.entity")
##自动导入包（全局变量）
$!{autoImport.vm}

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;

##表注释（宏定义）
#tableComment("表实体类")
@TableName("$!{tableInfo.obj.name}")
@Data
public class $!{tableInfo.name} {

#foreach($column in $tableInfo.fullColumn)
    #if(${column.comment})
    /**
     * ${column.comment}
     */
     #end
    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
    
#end

}
